In [1]:
from gurobipy import *
import pandas as pd

In [2]:
data = pd.read_csv('../data/evo_travels.csv')

In [3]:
data.head()

,Id,Start_time,Start_lat,Start_lon,Fuel_start,End_time,End_lat,End_lon,Fuel_end,duration,distance
0,JTDKDTB32G1589000,2018-03-01 12:42:24.630568,49.225563,-122.894234,84,2018-03-01 13:21:04.095771,49.314045,-123.083481,84,38.657753,1.688120e+04
1,JTDKDTB32G1589000,2018-03-01 18:09:30.383898,49.314045,-123.083481,84,2018-03-01 18:33:40.410390,49.314045,-123.083481,84,24.167108,0.000000e+00
2,JTDKDTB32G1589000,2018-03-01 18:36:09.073847,49.314045,-123.083481,84,2018-03-01 20:24:36.451198,49.315067,-123.083481,83,108.456289,1.136032e+02
3,JTDKDTB32G1589000,2018-03-01 20:39:21.714875,49.315067,-123.083481,83,2018-03-01 21:09:48.876096,49.315067,-123.083481,83,30.452687,7.068790e-10
4,JTDKDTB32G1589000,2018-03-01 21:12:05.647857,49.315067,-123.083481,83,2018-03-01 21:15:26.307443,49.315067,-123.083481,83,3.344326,7.068790e-10

In [14]:
time_instants = pd.date_range(start=data.Start_time.min(), end=data.End_time.max(), freq='min')
time_instants = [t.value for t in time_instants]
viagem_id = data.index

In [5]:
m = Model("realocacao")

Academic license - for non-commercial use only

In [31]:
# Variável que indica se ocorreu a viagem
# listando todas as opções oq não pode ser ideal
# essa representação ainda irá traduzir as realocações
locais = [None,1,2,3]
viagens_relizadas = dict()
for v in viagem_id:
    for l in locais:
        viagens_relizadas[(v,l)] = m.addVar(vtype=GRB.BINARY)

In [16]:
# Variável que indica quantos veículos estão em cada estação em dado momento
locais = [1,2,3]
veiculos_ocisos = dict()
for l in locais:
    for t in time_instants:
        veiculos_ocisos[(l,t)] = m.addVar(vtype=GRB.INTEGER)